body{
    background-image: url('rainorshineicon.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
}

.clear {
    background-image: url('sunny.jpeg');
}