body{
    font-family:'Open Sans';
    background-color: lightsteelblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

.searchControl {
    font-size: 22px;
    border-color: aliceblue;
}

.hidden {
    display: none;
}

img {
   height: auto;
   margin: auto;
   width: 20%;
}

.weatherLogo {
    width: 30%;
}

.weatherDescription {
    border-style: solid;
    border-width: thin;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
}

#humidity {
    margin-bottom: 10px;
}


/* For iphone: */
/* @media screen and (max-width : 320px){

}  */


/* For ipad: */
@media only screen
    and (min-device-width: 320px) 
    and (max-device-width: 1024px){
    .searchControl {
        font-size: 50px;
        border-color: aliceblue;
    }

    body{
        font-family:'Open Sans';
        background-color: lightsteelblue;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: whitesmoke;
        text-align: center;
        font-size: 50px;
    }

    img {
        height: auto;
        margin: auto;
        width: 25%;
     }
}